{% extends 'movies/base.html' %}
{% block title %}My List{% endblock %}

{% block style %}

<style>
    /* *{
            border: 1px solid red
        } */
    * {
        /* border: 1px solid red; */
        scrollbar-color: #5e5e5e #22222200;
        /* Thumb color | Track color */
    }



    .custom-dropdown {
        margin-top: 10px;
        min-width: 270px;
        border-radius: 10px;
        /* background-color: #1a1a1a; */
        /* box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.2); */
    }



    .card-img-top:hover {

        box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
    }
</style>
{% endblock %}

{% block content %}
{% load static %}



<div class="container-fluid mt-5 px-4">
    {% if saved_movies %}
    <div class="row mt-5 pt-5">
        {% for movie in saved_movies %}
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
            <div class="card bg-black text-white border-0">
                <a href="{% url 'movie_detail' movie_id=movie.movie_id %}" class="text-decoration-none">
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                        class="card-img-top rounded-4 img-fluid" alt="{{ movie.title }}">
                    <div class="card-body text-center">
                        <h5 class="card-title text-white text-truncate">{{ movie.title }}</h5>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="d-flex justify-content-center align-items-center" style="height: 75vh;">
        <p class="text-center text-warning fs-5">No movies in your Watchlist yet.</p>
    </div>
   
    {% endif %}
</div>
{% endblock %}