asgiref==3.8.1
channels==4.2.0
channels_redis==4.2.1
Django==5.1.5
django-bootstrap4==24.4
django-cors-headers==4.7.0
gunicorn==23.0.0
requests==2.32.3
whitenoise==6.9.0
sqlparse==0.5.3
psycopg2-binary==2.9.10   
mysqlclient==2.2.7       
dj-database-url==2.1.0    
daphne==4.1.2 
requests-cache==0.5.2 
