{% extends 'movies/base.html' %}
{% block title %}Reviews {% endblock %}

{% block style %}
<style>
    /* *{
            border: 1px solid red
        } */
    * {
        /* border: 1px solid red; */
        scrollbar-color: #5e5e5e #22222200;
        /* Thumb color | Track color */
    }



    .custom-dropdown {
        margin-top: 10px;
        min-width: 270px;
        border-radius: 10px;
        /* background-color: #1a1a1a; */
        /* box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.2); */
    }



    .card:hover {

        box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3) !important;
        transition: box-shadow 0.3s ease;

    }
</style>
{% endblock %}

{% block content %}
{% load static %}

<div class="container-fluid mt-5 px-4">
    {% if reviews %}
    <div class="row mt-5 pt-5">
        {% for review in reviews %}
        <div class="col-12 col-md-6 col-lg-4">
            <a href="{% url 'movie_detail' movie_id=review.movie_id %}" class="text-decoration-none   ">
                <div class="card bg-transparent border-0 rounded-3 my-3 ">
                    <div class="row text-white g-0">
                        <div class="col-4 p-0">
                            <img src="https://image.tmdb.org/t/p/w500{{ review.poster_path }}" class="img-fluid rounded-3"
                                alt="{{ review.title }}">
                        </div>
                        <div class="col-8 card-body">
                            <h5 class="card-title mb-0">{{ review.title }}</h5>
                            <small class="text-white-50">Last updated {{ review.created_at|date:"F d, Y" }}</small>
                            <p class="card-text mt-2 text-truncate">{{ review.comment }}</p>
                            <div class="d-flex align-items-center gap-2">
                                {% for _ in review.solid %}
                                <i class="fa-solid fa-star text-warning"></i>
                                {% endfor %}
                                {% for _ in review.regular %}
                                <i class="fa-regular fa-star text-warning"></i>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="d-flex justify-content-center align-items-center" style="height: 75vh;">
        <p class="text-center text-warning fs-5">No movies you reviewed yet.</p>
    </div>
    {% endif %}
</div>

{% endblock %}