{% extends 'movies/base.html' %}
{% block title %}Movie Search{% endblock %}

{% block style %}
<style>
    .form-control::placeholder {
        color: white !important;
        opacity: 1;
    }
</style>
{% endblock %}

{% block content %}
{% load static %}


<div class="container-fluid px-lg-5 px-4 py-5 mt-5">
    <div class="d-flex justify-content-center">
        <form method="GET" action="{% url 'search_movies' %}" class="mb-4 w-75">
            <div class="input-group">
                <input type="text" name="movie" class="form-control bg-dark text-white border-0 rounded-pill px-4"
                    placeholder="Search for a movie...">
                <button class="btn text-white fs-4 rounded-pill" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
    </div>

    <h2 class="text-white mt-4">Search Results</h2>
    <div class="row">
        {% if movies %}
        {% for movie in movies %}
        {% if movie.poster_path %}
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
            <div class="card bg-black text-white border-0">
                <a href="{% url 'movie_detail' movie.id %}" class="text-decoration-none">
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="card-img-top"
                        alt="{{ movie.title }}">
                    <div class="card-body text-center">
                        <h5 class="card-title text-white">{{ movie.title }}</h5>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <p class="text-center">No movies found.</p>
        {% endif %}
    </div>
</div>
{% endblock %}